DB_DRIVER=postgres
DB_SOURCE=postgresql://username:password@localhost:port/database?sslmode=disable

SECRET_KEY=
ACCESS_KEY_DURATION=

GRPC_SERVER_ADDRESS=0.0.0.0:port
GATEWAY_SERVER_ADDRESS=0.0.0.0:port