# please replace {username} , {password} , {localhost} , {port} , {database} with your own configuration
DB_DRIVER=postgres
DB_SOURCE=postgresql://username:password@localhost:port/database?sslmode=disable

# please enter your own secret key with exactly 32 characters long
SECRET_KEY=
# please enter access key lifetime duration ; example : 15m | 15h | 168h for 7 days
ACCESS_KEY_DURATION=

# please replace {port} with your own configuration
GRPC_SERVER_ADDRESS=0.0.0.0:port
GATEWAY_SERVER_ADDRESS=0.0.0.0:port